body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f1f6f5;  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

.container {
    width: 100%;  
    max-width: 1000px;  
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;  
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    box-sizing: border-box;
    
}

.form-box {
    width: 45%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600;
}

.sub {
    margin-bottom: 20px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #ff7b00;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 0 10px 0;  
    font-size: 15px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.switch {
    margin-top: 10px;
    font-size: 14px;
}

.switch a {
    color: #0077ff;
}

.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 90%;
    height: auto;
    object-fit: contain;
}
 
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 20px;
        min-height: auto;
    }

    .form-box, .image-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-box img {
        width: 70%;
    }
}
